name: test

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13

      - run: go test -v
        # working-directory: packages

      - run: go get github.com/mm0202/sandbox_1st-go-package

      - run: sandbox_1st-go-package

      - name: notify to slack
        uses: mm0202/action_slack-notify@master
        if: always()
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
